<div id='slides-container'>
	<% @ss.slide_num.times do |i| %>
			<div>
				<img src="https://docs.google.com/viewer?url=<%= "#{@ss.url}&a=bi&pagenumber=#{i+1}&w=800" %>"/>
			</div>
		 

	<% end %>
</div>

<a href='#' id='next-button'>Next</a>
  <a href='#' id='previous-button'>Previous</a>