<h1>Slides</h1>
<%= link_to "Back to Event", event_path(@slideshow.event_id) %>
<ul>
  <% @slideshow.slides.each do |slide| %>
    <li><%= link_to "Slide ##{slide.slide_number}", edit_slideshow_slide_path(@slideshow, slide) %></li>
  <% end %>
</ul>
