<div id='slides-container'>
	<% @slideshow.slide_num.times do |i| %>
    <div>
      <img src="https://docs.google.com/viewer?url=<%= "#{@slideshow.url}&a=bi&pagenumber=#{i+1}&w=1200" %>"/>
    </div>
	<% end %>
</div>

<a href='#' id='next-button'>Next</a>
<a href='#' id='previous-button'>Previous</a>

<script src="http://js.pusher.com/2.1/pusher.min.js" type="text/javascript"></script>
<script type="text/javascript">
  // Enable pusher logging - don't include this in production
  Pusher.log = function(message) {
    if (window.console && window.console.log) {
      window.console.log(message);
    }
  };

  var pusher = new Pusher('64563d909eb060a416d7');
  var channel = pusher.subscribe('slideshow');
  channel.bind('forward', function(data) {
    $('#next-button').click();
  });

  channel.bind('backward', function(data) {
    $('#previous-button').click();
  });
</script>
