@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800)
@import url(http://fonts.googleapis.com/css?family=Pontano+Sans:400,800)

*
  margin: 0
  padding: 0
  box-sizing: border-box
  -moz-box-sizing: border-box

html
  height: 100%

body
  background: #fff
  height: 100%
  font-size: 14px
  font-family: 'Arial', sans-serif

.clear
  clear: both

#container
  margin: 20px
  //background: green

#container-title
  margin-bottom: 20px 

#events-list
  .event-item
    width: 200px
    height: 200px
    float: left
    background: #e0e0e0
    margin-right: 20px
    margin-bottom: 20px

#main
  margin-left: 200px
  background: #eee
  // width: 200px
  // background: #fff
  height: 100%
  // float: left
