@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800)
@import url(http://fonts.googleapis.com/css?family=Pontano+Sans:400,800)

*
  margin: 0
  padding: 0

html
  height: 100%

body
  background: #fff
  height: 100%

#sidebar
  width: 200px
  background: #fff
  height: 100%
  border-right: 1px solid #e0e0e0
  #sidebar-logo
    font-family: 'Pontano Sans', 'Arial', sans-serif
    font-size: 30px
    //text-align: center
    padding-top: 15px
    padding-left: 15px
    line-height: 30px
  #sidebar-logo-next-part
    color: #bbb
  #sidebar-logo-slide-part
    color: #000
  #sidebar-events-heading
    font-family: 'Pontano Sans', 'Arial', sans-serif
    font-size: 30px
    //text-align: center
    padding-top: 15px
    padding-left: 15px
    line-height: 30px
    

#main
  // width: 200px
  // background: #fff
  height: 100%
  // float: left
