@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800)
@import url(http://fonts.googleapis.com/css?family=Pontano+Sans:400,800)

*
  margin: 0
  padding: 0
  box-sizing: border-box
  -moz-box-sizing: border-box

html
  height: 100%

body
  background: #fff
  height: 100%
  font-size: 14px
  font-family: 'Arial', sans-serif

.clear
  clear: both

#container
  padding-top: 20px
  width: 860px
  margin: 0 auto 20px auto

#container-title
  margin-bottom: 20px 

#events-list
  .event-item
    width: 200px
    height: 200px
    float: left
    background: #e0e0e0
    margin-right: 20px
    margin-bottom: 20px
    background-size: cover
    position: relative
    border: 1px solid gray
    &.event-item-last
      margin-right: 0
    .event-item-overlay
      background: #000000
      opacity: 0.6
      color: white
      position: absolute
      bottom: 0
      width: 100%
      padding: 5px
      text-align: center
      box-sizing: border-box
      font-size: 14px 
    &:hover
      .event-item-overlay
        opacity: 1.0

#page-content

#top-bar
  box-sizing: border-box
  height: 60px
  position: relative
  border-bottom: 1px solid #e0e0e0
  margin-bottom: 20px
  padding-bottom: 20px

  #top-bar-title
    position: absolute
    top: 0
    left: 0

    h1
      font-family: 'Open Sans', 'Arial', sans-serif
      font-weight: normal

  #top-bar-options
    position: absolute
    top: 0
    right: 0
    display: block
    a.top-bar-option
      border: 1px solid #ccc
      color: #000
      background: #eee
      padding: 10px 15px
      text-decoration: none
      border-radius: 3px
      float: left
      margin-left: 10px
      display: inline-block
      &.top-bar-option-green
        background: #2ecc71
        color: #fff
        border: 1px solid #2ecc71

.form-field, .form-actions
  font-weight: normal
  font-size: 14px
  font-family: 'Open Sans', 'Arial', sans-serif

.form-field
  display: block
  margin-bottom: 10px
  label
    padding-bottom: 4px
    display: block
  input[type='text']
    padding: 3px
    border: 1px solid #e0e0e0
.form-actions
  padding-top: 20px
  input[type='submit']
    padding: 5px 10px

#event-container
  background-repeat: no-repeat
  #event-slideshows-list
    .event-slideshow-item
      border-bottom: 1px solid #eee
      height: 40px
      line-height: 40px
      font-size: 13px
      font-family: 'Arial', sans-serif
    table
      width: 100%
      tr
        td
          border-bottom: 1px solid #e0e0e0
        td.table-actions-column
          width: 180px 
          padding-left: 5px

#slideshows-list
  .slideshow-item
    width: 200px
    height: 200px
    float: left
    background: #e0e0e0
    margin-right: 20px
    margin-bottom: 20px
    background-size: cover
    position: relative
    border: 1px solid gray
    display: block
    &.slideshow-item-last
      margin-right: 0
    .slideshow-item-overlay
      background: #000000
      opacity: 0.6
      color: white
      position: absolute
      bottom: 0
      width: 100%
      padding: 5px
      text-align: center
      box-sizing: border-box
      font-size: 14px 
    &:hover
      cursor: pointer
      .slideshow-item-overlay
        opacity: 1.0
      .slideshow-item-edit-link
        display: block
  .slideshow-url
    display: none

a.slideshow-item-edit-link
  display: none
  position: absolute
  top: 10px
  right: 10px
  width: 40px
  height: 20px
  line-height: 20px
  background: green
  border: 1px solid #999
  font-size: 11px
  border-radius: 2px
  background: #eee
  font-weight: bold
  color: #3d3d3d
  text-align: center
  text-decoration: none
  font-family: 'Arial', sans-serif
  box-sizing: border-box
