body{
  margin: 0;
}

a{
  text-decoration: none;
}

.container{
  padding: 15px;
}


#head{

  height: 40px;
  background: #34495e;
  padding: 20px;


  a:visited{
    color: white;
  }
  
  img{
    width: 300px;
    height: auto;
  }

  ul{
    list-style:none;
    float: right;
    color: white;
    margin-top: 5px;

    li{
      float:left;
      margin-right: 50px;
      font-size: 1.3em;

    }
    
  }
}

.before-upload{
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  font-size: 1.2em;
  //background: #27ae60;
  border-radius: 8px;
  input{
    width: 200px;
    height: 30px;
  }

}

.during-upload{
  display: none;
}