.event-image {
  float: left;

  img {
    max-height: 500px;
    width: auto;
    max-width: 800px;
  }

}

.event-details {
  float: left;
  padding: 20px;
  color: black;
  height: auto;
  a {
    color: black;
    text-decoration: underline;
  }

  a:visited {
    color: black;
  }
}

.event {
  position: relative;
  display: inline-block;
  width: 250px;
  height: 250px;
  margin-right: 20px;
  border: 1px solid gray;

  .overlay {
    background: #000000;
    opacity: 0.6;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 5px;
    text-align: center;
    box-sizing: border-box;
    font-size: 1.4em;
  }

  &:hover{
    .overlay{
      opacity: 1.0;
    }
  }
}

.event-link{
  font-size: 1.3em;
  color: black;
  text-decoration: underline;

  &:visited {
    color: black;
  }
}