<!DOCTYPE html>
<html>
<head>
  <title>Dashboard Design Title</title>
  <%= stylesheet_link_tag 'dashboard' %>
</head>
<body>
  <div id='sidebar'>
    <div id='sidebar-events-heading'>EVENTS</div>
  </div>
  <!--
  <div id='main'>
    <%= yield %>
  </div>
  -->
</body>
</html>
