<!DOCTYPE html>
<html>
<head>
  <title>Dashboard Design Title</title>
  <%= stylesheet_link_tag 'dashboard' %>
</head>
<body>
  <div id='container'>
    <h1 id='container-title'>Events</h1>
    <div id='events-list'>
      <div class='event-item'>
        <a href='#'>Logistics Hackathon</a>
      </div>
      <div class='event-item'>
        <a href='#'>AT&T Mobile Hackathon</a>
      </div>
      <div class='event-item'>
        <a href='#'>MHacks</a>
      </div>
      <div class='event-item'>
        <a href='#'>HackMIT</a>
      </div>
      <div class='event-item'>
        <a href='#'>Logistics Hackathon</a>
      </div>
      <div class='event-item'>
        <a href='#'>AT&T Mobile Hackathon</a>
      </div>
      <div class='event-item'>
        <a href='#'>MHacks</a>
      </div>
      <div class='event-item'>
        <a href='#'>HackMIT</a>
      </div>
      <div class='event-item'>
        <a href='#'>Logistics Hackathon</a>
      </div>
      <div class='event-item'>
        <a href='#'>AT&T Mobile Hackathon</a>
      </div>
      <div class='event-item'>
        <a href='#'>MHacks</a>
      </div>
      <div class='event-item'>
        <a href='#'>HackMIT</a>
      </div>
      <div class='clear'><!-- --></div>
    </div>
  </div>
  <!-- 
  <div id='main'>
    <%= yield %>
  </div>
  -->
</body>
</html>
