<!DOCTYPE html>
<html>
<head>
  <title>Dashboard Design Title</title>
  <%= stylesheet_link_tag 'dashboard' %>
</head>
<body>
  <div id='sidebar'>
    <div id='sidebar-events-filter'>
      <input type='text' placeholder='Filter Events...'>
    </div>
    <div id='sidebar-events-list'>
      <ul>
        <li><a href='#'>Logistics Hackathon</a></li>
        <li><a href='#'>AT&T Mobile Hackathon</a></li>
        <li><a href='#'>MHacks</a></li>
        <li><a href='#'>HackMIT</a></li>

        <li><a href='#'>Logistics Hackathon</a></li>
        <li><a href='#'>AT&T Mobile Hackathon</a></li>
        <li><a href='#'>MHacks</a></li>
        <li><a href='#'>HackMIT</a></li>
        <li><a href='#'>Logistics Hackathon</a></li>
        <li><a href='#'>AT&T Mobile Hackathon</a></li>
        <li><a href='#'>MHacks</a></li>
        <li><a href='#'>HackMIT</a></li>
        <li><a href='#'>Logistics Hackathon</a></li>
        <li><a href='#'>AT&T Mobile Hackathon</a></li>
        <li><a href='#'>MHacks</a></li>
        <li><a href='#'>HackMIT</a></li>
        <li><a href='#'>Logistics Hackathon</a></li>
        <li><a href='#'>AT&T Mobile Hackathon</a></li>
        <li><a href='#'>MHacks</a></li>
        <li><a href='#'>HackMIT</a></li>
        <li><a href='#'>Logistics Hackathon</a></li>
        <li><a href='#'>AT&T Mobile Hackathon</a></li>
        <li><a href='#'>MHacks</a></li>
        <li><a href='#'>HackMIT</a></li>
        <li><a href='#'>Logistics Hackathon</a></li>
        <li><a href='#'>AT&T Mobile Hackathon</a></li>
        <li><a href='#'>MHacks</a></li>
        <li><a href='#'>HackMIT</a></li>
        <li><a href='#'>Logistics Hackathon</a></li>
        <li><a href='#'>AT&T Mobile Hackathon</a></li>
        <li><a href='#'>MHacks</a></li>
        <li><a href='#'>HackMIT</a></li>
        <li><a href='#'>Logistics Hackathon</a></li>
        <li><a href='#'>AT&T Mobile Hackathon</a></li>
        <li><a href='#'>MHacks</a></li>
        <li><a href='#'>HackMIT</a></li>
        <li><a href='#'>Logistics Hackathon</a></li>
        <li><a href='#'>AT&T Mobile Hackathon</a></li>
        <li><a href='#'>MHacks</a></li>
        <li><a href='#'>HackMIT</a></li>
        <li><a href='#'>Logistics Hackathon</a></li>
        <li><a href='#'>AT&T Mobile Hackathon</a></li>
        <li><a href='#'>MHacks</a></li>
        <li><a href='#'>HackMIT</a></li>
      </ul>
    </div>
    <div id='sidebar-events-heading'></div>
  </div>
  <div id='main'>
    <%= yield %>
  </div>
</body>
</html>
